ARGS="--web.enable-lifecycle --web.external-url=/prometheus/ --web.route-prefix=/prometheus/ --web.listen-address=127.0.0.1:9090 --web.console.templates=/etc/prometheus/consoles --web.console.libraries=/etc/prometheus/console_libraries"